<%include ./partials/header%>

<div class="ui main text container">
    <div class="ui huge header">Photo App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% photos.forEach(function(photo) { %>
            <div class="item">
                <div class="image">
                    <img src="<%= photo.image %>">
                </div>
                <div class="content">
                    <a class="header" href="/photos/<%=photos._id%>"><%= photo.title%></a>
                    <div class="meta">
                        <span><%= photo.dateCreated.toDateString()%></span>
                    </div>
                    <div class="description">
                        <p><%-photo.description.substring(0, 100)%>...</p>
                    </div>
                    <div class="extra">
                        <a class="ui floated basic violet button" href="/photos/<%=photo._id%>"><%= photo.title%>
                            Read More
                            <i class="right chevron icon"></i>
                        </a>

                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<%include ./partials/footer%>
